{% extends '../core/base.html' %}
{% load static %}
{% block 'contenido' %}
<link rel="stylesheet" href="{% static 'lib/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'css/form_reg_ins.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<!-- Estilos para pantalla completa -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@2.4.0/Control.FullScreen.css">
<!-- Script para pantalla completa -->
<script src="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@2.4.0/Control.FullScreen.js"></script>
<section class="content-header"></section>
<section class ="content">

  <div class="container-fluid">
    <form action="/create_inc_bd/" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Registro de {{tp_incidencia_info.descrip_corta}}</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row mb-3">
                <label for="fch_hora" class="col-2 col-form-label">Fecha</label>
                <div class="col-sm-10">
                  <input type="datetime-local" class="form-control" id="fch_hora" name="fch_hora" required>
                </div>
              </div>
              <div class="row mb-3">
                <label for="departamento" class="col-2 col-form-label">Departamento</label>
                <div class="col-sm-4">
                  <select class="form-control" id="departamento" name="departamento" required>
                    <option value="" selected>Seleccione...</option>
                    {% for departamentos in departamentos %}
                    <option value="{{ departamentos.id }}">{{departamentos.descrip_corta}}</option>
                    {% endfor %}
                  </select>
                </div>
                <label for="municipio" class="col-2 col-form-label">Municipio</label>
                <div class="col-sm-4">
                  <select class="form-control" id="municipio" name="municipio" required>
                    <option value="">Seleccione...</option>
                  </select>
                </div>
              </div>
              {% if tp_incidencia_info.id != 1 and tp_incidencia_info.id != 2 %}
              <div class="row mb-3">
                <label for="txt_cant" class="col-2 col-form-label">Cantidad</label>
                <div class="col-10">
                  <input type="number" class="form-control" id="txt_cant" name="txt_cant"  maxlength="100" placeholder="Cantidad" required>
                </div>
              </div>
              {% else %}
              <input type="number"  class="d-none" value="1" id="txt_cant" name="txt_cant">
              {% endif %}
              <div class="row mb-3">
                
                  <input type="number"  class="d-none" value="{{ tp_incidencia_info.id }}" id="id_incidencia" name="id_incidencia">
                
                <div class="col-2"></div>
                <div class="col-8" id="map" style="width: 100%; height: 300px;"></div>
              </div>
              <div class="row mb-3">
                <div class="col-2"></div>
                <label for="latitude" class="col-1 col-form-label">Latitud</label>
                <div class="col-3">
                  <input type="text" id="latitude" name="latitude" class="form-control" readonly>
                </div>
                <label for="longitude" class="col-1 col-form-label">Longitud</label>
                <div class="col-3">
                  <input type="text" id="longitude" name="longitude" class="form-control" readonly>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12">
                  <div class="form-group">
                    <label for="observ">Observaciones</label>
                    <textarea class="form-control" id="observ" name="observ" rows="2" placeholder="Observaciones" required></textarea>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12">
                  <div class="drop-zone">
                    <p>Arrastra y suelta una imagen aquí o haz clic para seleccionarla</p>
                    <input type="file" class="form-control d-none " id="imageInput" name="imageInput" accept="image/*">
                    <img id="previewImage" class="img-fluid d-none" alt="Vista previa">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save"></i> Registrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<script src="{% static 'lib/adminlte/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/form_reg_ins.js' %}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@2.4.0/Control.FullScreen.css" />
  <script src="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@2.4.0/Control.FullScreen.js"></script>
  
<script>
  $(document).ready(function() {
    $('#departamento').change(function() {
        var depto_id = $(this).val();
        var url = "{% url 'load_municipios' %}";         
        if (depto_id) { 
            $.ajax({
                url: url,
                data: {'depto_id': depto_id },
                success: function(data) {
                    $('#municipio').empty();  // Limpiar el combobox de modelos
                    $('#municipio').append('<option value="" selected >Selecciona un municipio</option>');
                    $.each(data, function(key, value) {
                        $('#municipio').append('<option value="' + value.id + '">' + value.descrip_corta + '</option>');
                    });
                }
            });
        } else {
            $('#municipio').empty();
            $('#municipio').append('<option value="">Selecciona un modelo</option>'); 
        }
    });
});
</script>
{% endblock %}
